<!-- templates/view_bookings.html -->
{% extends 'base_generic.html' %}

{% block title %}View Bookings{% endblock %}

{% block content %}
<h1>Your Bookings</h1>
<table>
    <thead>
        <tr>
            <th>Lesson</th>
            <th>Instructor</th>
            <th>Date</th>
            <th>Time</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.lesson.title }}</td>
            <td>{{ booking.lesson.instructor }}</td>
            <td>{{ booking.lesson.date }}</td>
            <td>{{ booking.lesson.time }}</td>
            <td>{{ booking.lesson.duration }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
